<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{item.itemName}}</h1>
    <p class="lead">Stats about this item</p>
  </div>
</div>

<div class="container">
  <br>
  <div id="thisgraph"></div>
</div>
<br>
<br>
<br>

<div class="container">
  <br>
  <div id="drinkergraph"></div>
</div>
<br>
<br>
<br>

<div class="container">
  <br>
  <div id='daygraph'></div>
</div>
<br>
<br>
<br>

<div class="container">
  <br>
  <div id='timegraph'></div>
</div>
<br>
<br>
<br>